@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Meal Plan</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div>
            Welcome to the homepage!  Please login to begin managing your meal plans.
        </div>
        <div>
        <a href="~/Account/Login.cshtml">Login In</a>
        </div>
        <div>
        <a href="~/App/HomePage.cshtml">My Account</a>
        </div>
    </body>
</html>
