@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        Thanks for creating your account!  Please check your email to verify your account and login.
    </body>
</html>
